@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Barlow', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    @apply bg-slate-300 dark:bg-slate-500
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    @apply bg-primary-400
}
  